*
    position: fixed
    z-index: 1000

button
    background-color: transparent
    color: var(--text-color)
    font-size: 30px
    text-align: left
    border: none
    width: 200px
    height: 50px
    content: attr(short-text)
    span
        font-size: 30px
        width: 200px
        height: 50px
        position: relative

button::after
    content: attr(long-text)
    opacity: 0
    transition: opacity 0.5s

button:hover::after
    opacity: 1

button, img
    cursor: pointer
    &:hover
        animation-name: rotateAnimation
        animation-duration: 800ms
        animation-fill-mode: forwards

@keyframes rotateAnimation
    0%
        transform: translateX(0px)
    50%

    100%
        transform: translateX(20px)
