*
    position: fixed

.text
    white-space: pre-line
    font-size: var(--font-size-middle)
    bottom: 0px
    left: 300px
    line-height: 1.5
    height: 300px
    cursor: default

.cursor
    width: 5px
    height: 35px
    background-color: var(--text-color)
    animation: blink 1s infinite

@media screen and (max-width: 800px)
    .text
        left: 20px
        height: 350px
    .cursor
        height: 30px

@keyframes blink
    0%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 0
