.text-box
  position: fixed
  left: 300px
  bottom: 0px
  display: flex
  flex-direction: column
  margin: 0px
  height: 400px
.cur-box
  display: flex
  flex-direction: row

.text
  white-space: pre-line
  font-size: var(--font-size-middle)
  line-height: 1.5
  cursor: default
  text-shadow: var(--shadow-small)
  margin-bottom: 0px
  margin-top: 0px

.cursor
  width: 5px
  height: 35px
  background-color: var(--text-color)
  animation: blink 1s infinite
  box-shadow: var(--shadow-small)
  margin-left: 5px
  margin-top: 5px

@media screen and (max-width: 800px)
  .text-box
    left: 20px

  .text
    height: 350px
  .cursor
    height: 30px

@keyframes blink
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0
