<div
    class="line"
    [style.width]="distanceBetweenPoints * (points.length - 1) + 'px'"
    [style.left]="offsetLeft + 'px'"
>
    <div
        [class]="'pointContainer' + (p.active ? ' showBig' : '')"
        *ngFor="let p of points"
        [style.left]="p.id * distanceBetweenPoints + offsetLeft - 70 + 'px'"
    >
        <a [href]="p.link" target="_blank">
            <div
                class="point"
                [style.left]="
                    p.id * distanceBetweenPoints + offsetLeft - 25 + 'px'
                "
            >
                <div class="pointName">{{ p.name }}</div>
                <div class="pointDate">{{ p.date }}</div>
                <div class="pointDescription">{{ p.description }}</div>
            </div>
        </a>
    </div>
</div>
