*
    position: fixed
h1
    font-size: var(--h1-font-size)
    z-index: 1
    transition: all .5s ease-in-out
    cursor: default

section
    width: 100%
    height: 300px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

@media screen and (max-width: 800px)
    section
        height: 200px
