h1
  font-size: var(--h1-font-size)
  z-index: 1
  text-shadow: var(--shadow)

section
  position: absolute
  width: 100%
  height: 300px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center

.help
  position: fixed
  width: 600px
  background: var(--text-color)
  color: var(--bg-color)
  z-index: 100000
  padding: 1em
  border-radius: 1em
  box-shadow: 0 0 1em rgba(0,0,0,.5)
  font-size: 2em
  text-align: center
  transition: all .5s ease-in-out
  bottom: 100px
  left: 50%
  transform: translate(-50%,0)
  animation: helpAnimation 0.8s infinite alternate
  cursor: pointer
  box-shadow: var(--shadow)

@media screen and (max-width: 800px)
  .help
    width: 60%
    bottom: 100px
    section
      height: 230px
    /* .background
     display: none */

@keyframes helpAnimation
  0%
    transform: translate(-50%,0%)
  50%
    transform: translate(-50%,100%)
  100%
    transform: translate(-50%,80%)
