<app-background class="background"></app-background>
<app-side-bar
  *ngIf="!isMobile"
  [chapters]="chapters"
  (languageChangeEmitter)="setLanguage()"
></app-side-bar>
<app-mobile-sidebar
  *ngIf="isMobile"
  [chapters]="chapters"
  (languageChangeEmitter)="setLanguage()"
></app-mobile-sidebar>

<section>
  <h1>phil-online</h1>
</section>
<section [style.top]="40250 + 'px'">
  <h1>phil-online</h1>
</section>
<app-about-me
  [fullText]="aboutMeText"
  [start]="getChapterByName('about', 'über-mich').start"
  [length]="getChapterByName('about', 'über-mich').length"
></app-about-me>
<app-timeline
  [points]="educationTimeLine"
  [start]="getChapterByName('education', 'ausbildung').start"
  [speed]="1"
></app-timeline>
<app-timeline
  [points]="workingLifeTimeLine"
  [start]="getChapterByName('work', 'arbeit').start"
  [speed]="2"
></app-timeline>

<app-chapter-heading
  *ngFor="let c of chapters"
  [chapter]="c"
></app-chapter-heading>

<app-skill
  [skills]="skills"
  [start]="getChapterByName('skills', 'fähigkeiten').start"
  [length]="getChapterByName('skills', 'fähigkeiten').length"
></app-skill>

<app-project
  [projects]="projects"
  [start]="getChapterByName('projects', 'projekte').start"
  [length]="getChapterByName('projects', 'projekte').length"
></app-project>
<app-project
  [projects]="contacts"
  [start]="getChapterByName('contact', 'kontakt').start"
  [length]="getChapterByName('contact', 'kontakt').length"
></app-project>

<p *ngIf="showHelp" class="help" (click)="hideHelp()">{{ helpText }}</p>
