<div
  *ngFor="let project of projects"
  [style.bottom]="offsetBottom + 'px'"
  class="container"
  [style.display]="project.active ? 'block' : 'none'"
>
  <img
    [src]="
      project.logo_small_url == '' ? project.logo_url : project.logo_small_url
    "
    [alt]="project.name"
    class="logo"
  />
  <div class="project">
    <p class="name">{{ project.name }}</p>
    <p class="topics">
      {{ getTopicsAsString(project) }}
    </p>
    <p class="description">{{ project.description }}</p>
    <a [href]="project.url" target="_blank">{{
      isEnglish() ? "View" : "Ansehen"
    }}</a>
  </div>
</div>
