<div *ngIf="showSidebar" class="background" (click)="close()"></div>
<div
    *ngIf="showSidebar"
    class="sidebar"
    [style.height]="370 + (showChapters ? chapters.length * 60 : 0) + 'px'"
>
    <!-- <button style="top: 20px">phil-online</button> -->
    <div class="imgWrapper" style="top: 20px" (click)="goToTop()">
        <img
            src="assets/logoPhilOnline.png"
            alt="phil-online"
            [style.margin-top.px]="-10"
        />
    </div>
    <div class="imgWrapper" style="top: 80px" (click)="toggleColorSchema()">
        <img
            src="assets/{{ colorSchema === 'dark' ? 'dark' : 'light' }}mode.png"
        />
    </div>

    <div class="imgWrapper" style="top: 140px" (click)="toggleChapters()">
        <img
            src="assets/chapters{{
                colorSchema === 'dark' ? 'dark' : 'light'
            }}.png"
        />
    </div>
    <div class="chapters" *ngIf="showChapters">
        <button
            *ngFor="let chapter of chapters"
            [style.top]="200 + chapter.id * 60 + 'px'"
            (click)="goToChapter(chapter.id)"
        >
            {{ chapter.name }}
        </button>
    </div>

    <button
        [style.top]="200 + (showChapters ? chapters.length * 60 : 0) + 'px'"
        (click)="toggleLanguage()"
    >
        {{ isEnglish ? 'deutsch' : 'englisch' }}
    </button>
    <div
        class="imgWrapper"
        [style.top]="260 + (showChapters ? chapters.length * 60 : 0) + 'px'"
        (click)="goToTop()"
    >
        <img
            src="assets/top{{ colorSchema === 'dark' ? 'dark' : 'light' }}.png"
        />
    </div>
    <div
        class="imgWrapper"
        [style.top]="320 + (showChapters ? chapters.length * 60 : 0) + 'px'"
        (click)="goToShell()"
    >
        <img
            src="assets/shell{{
                colorSchema === 'dark' ? 'dark' : 'light'
            }}.png"
        />
    </div>
</div>

<div class="burgerMenu" *ngIf="showSidebar == false" (click)="open()">
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
    <div class="burgerBar"></div>
</div>
<div class="burgerMenuInverted" *ngIf="showSidebar" (click)="close()">
    <div class="burgerBarInverted"></div>
    <div class="burgerBarInverted"></div>
    <div class="burgerBarInverted"></div>
</div>
